<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.overkill.live.pony"
      android:versionName="0.3.2" android:versionCode="6">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    
<application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Light">
    <activity android:label="@string/app_name" android:name=".LiveWallpaperSettings" android:exported="true" android:theme="@android:style/Theme.Light.NoTitleBar" android:icon="@drawable/ic_launcher">
    </activity>
    <service 
		    android:name="MyLittleWallpaperService"
		    android:enabled="true"
		    android:icon="@drawable/ic_launcher"
		    android:label="@string/app_name"
		    android:permission="android.permission.BIND_WALLPAPER">
	    <intent-filter android:priority="1" >
	        <action android:name="android.service.wallpaper.WallpaperService" />
	    </intent-filter>
	    <meta-data 
	      android:name="android.service.wallpaper" 
	      android:resource="@xml/wallpaper" />
	</service>
    <activity android:name="com.overkill.ponymanager.PonyManager" android:label="@string/pony_manager" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Light">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"></action>
            <category android:name="android.intent.category.LAUNCHER"></category>
        </intent-filter>
    </activity>
    <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
</application>

</manifest>