<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.overkill.live.pony"
    android:versionCode="21"
    android:versionName="0.7.5">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light">
        <activity
            android:name=".LiveWallpaperSettings"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <service
            android:name="MyLittleWallpaperService"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter android:priority="1">
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <activity
            android:name="com.overkill.ponymanager.PonyManager"
            android:icon="@drawable/ic_launcher"
            android:label="@string/pony_manager"
            android:theme="@style/Theme.Pony.Rainbowdash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="SetPaddingActivity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity
            android:name="PickPonyActivity"
            android:label="@string/pony_select_title"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>